@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.container {
    display: flex;

    .headlines {
        width: 50%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        color: #242942;
        justify-content: space-between;

        h1 {
            font-size: 58px;
            font-weight: 800;
        }

        img {
            height: 30px;
            width: 30px;
            padding: 58px 0 0 80px;
        }

        .text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 25px 0px;
            padding-left: 80px;
            padding-bottom: 200px;

            .row {
                display: flex;
                align-items: baseline;
                gap: 40px 40px;

                button {
                    background-color: #FF5C5C;
                    border: none;
                    border-radius: 8px;
                    padding: 15px 25px;
                    font-size: 14px;
                    font-weight: 800;
                    color: #fff;
                    letter-spacing: 2px;
                }

                .ellipse {
                    background-color: #242942;
                    border-radius: 60px;
                    padding: 7px;

                    h2 {
                        font-size: 17px;
                        color: #fff;
                    }
                }



                h3 {
                    font-weight: 300;
                    letter-spacing: 4px;
                    font-size: 15px;
                }
            }
        }
    }

    .image {
        width: 50%;
        height: 100vh;

        .devices {
            margin-top: -35%;
        }

        .bg {
            height: 60%;
            background-color: #EEF3F6;
            border-bottom-left-radius: 100px;

            nav {
                padding-top: 50px;
                display: flex;
                justify-content: center;

                ul {
                    display: flex;
                    gap: 60px;

                    li {
                        font-weight: 900;
                        font-size: 16px;
                        list-style-type: none;

                        a {
                            text-decoration: none;
                            color: #A0A1AC;
                        }

                        a::before {
                            content: "\2B24";
                            font-size: 12px;
                            margin-right: 30px;
                        }
                    }
                }
            }
        }
    }
}